.App {
  text-align: center;
}

.App-wrapper {
  max-width: 340px;
  width: 40%;
  max-height: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: #4b5d46;
  align-items: center;
  color: #ffffff;
  margin: auto;
}

.App-header {
  background-color: #4b5d46;
  height: 50px;
  margin-bottom: 15px;
  align-items: center;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .App-header {
    font-size: 14px;
  }
}

.screen {
  height: 100px;
  width: 100%;
  padding: 5px;
  padding-right: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #20281e;
  font-weight: bold;
  font-size: 25px;
  box-sizing: border-box;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .screen {
    font-size: 15px;
  }
}

.App-input {
  margin: 10px 3px 5px;
  border-radius: 10px;
  width: 40%;
  padding: 5px 10px;
}

.App-input:hover {
  background-color: #e7dcc9;
}

.buttonBox {
  width: 100%;
  height: calc(100% - 360px);
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

.App-button {
  margin: 2px 2px 2px;
  font-weight: bold;
  font-size: 25px;
  color: #20281e;
  background-color: #fdfdfd;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  text-align: center;

}

.App-button:hover {
  background-color: #e7dcc9;
}

.Bold {
  font-weight: lighter;
  font-family: "Lucida Console", "Courier New", monospace;
}