.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  margin: 5%;
  pointer-events: none;
}

.App-body {
  background-color: burlywood;
  max-width: 400px;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
}



.App-input {
  margin: 10px 3px 0px;
  border-radius: 2px;
}

.App-button {
  margin: 5px 2px 2px;
  font-weight: bold;
  border-radius: 50px;
}

.App-button2 {
  margin: 5px 2px 2px;
  font-weight: bold;
  border-radius: 5px;
}


.Bold {
  font-weight: bold;
}